:root {
  --white: #ffff;
  --mild-gray: #555;
   --ims-blue:#003478; /* #273b6a; */
  --ims-orange: #eb5930;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-weight: 300;
  --font-size:16px;
  --font-family-sans-serif: 'Lato','Arial',sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html{
  background-color:var(--white);
  color:var(--mild-gray);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  list-style: none;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}
body{
  min-height: 100vh;
}

/*----------------------HEADER-----------------------*/

header{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./images/make-claim.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  
}


nav{
  display: flex;
  flex-direction: column;
  padding:.6rem 2rem;
  
}


.quick-contact{
  display:inline-flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: var(--ims-blue);
  gap:.5rem;
  margin: 0 auto;
}
.quick-contact a{
  text-decoration: none;
  display: inline-block;
  color: var(--ims-blue);
  border-radius: .1rem;
  padding: .3rem;
  align-items: center;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
}


.nav-links{
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  
}

.nav-links li a{
  text-decoration: none;
  color: var(--white);
  padding:1rem .5rem ;
  margin: 0 .2rem;
  
}

.nav-links li a:hover,
.nav-links li a:active{
  color: var(--ims-orange);
  font-weight: 400;
  border-bottom: 2px solid var(--ims-orange);
}


/*--------sticky nav-----*/
.sticky{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0 2px 2px rgb(161, 161, 161);
}

.sticky .nav-links li a{
  text-decoration: none;
  color: var(--ims-blue);
}


.ims-white-logo,
.ims-blue-logo,
.ims-gray-logo{
  height: 3rem;
  width: auto;
}
.no-show{
  display: none;
}



.hero-text-box{ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: var(--breakpoint-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 

  
}


h1,
h2,
h3{
  
   font-weight: 300; 
  text-transform: uppercase;
  
}

h1{
  color: var(--white);
  font-size: 200%;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin: 0 0 .5rem 0;
  text-align: center;
}

h2{
  word-spacing: 3px;
  font-size: 160%;
  letter-spacing: 1px;
  text-align: center;
}
h2:after{
  display: block;
  height: 2px;
  background-color: var(--ims-orange);
  content: " ";
  width: 13rem;
  margin: .5rem auto;
}

/*----------------------------------------------------------*/
              /* REUSABLE STYLES  */
/*----------------------------------------------------------*/

.container{
  width: 100%;
  max-width: var(--breakpoint-xl);
  margin: 0 auto;
}
.vh{
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-size: cover;
  overflow: hidden;
}
.air-sm{
  margin: 6px;
}

.long-copy{
  line-height: 145%;
  text-align: center;

}

/*----------------------BUTTONS-----------------------*/
.btn:link,
.btn:visited {
  display: inline-block;
  padding:.5rem 1.5rem;
  text-decoration: none;
  border-radius: 10rem;
  color: var(--white);
  transition: background-color .1s, boarder .1s, color .1s;
  margin: 0 .5rem;

}
.btn-full:link,
.btn-full:visited{
  background-color: var(--ims-orange);
  border:.2rem solid var(--ims-orange);
}
.btn-ghost:link,
.btn-ghost:visited{
  border:.2rem solid var(--ims-orange);
  color: var(--ims-orange);
}

.btn:hover,
.btn:active {
  background-color: var(--ims-blue);
  color:var(--white);
  border: .2rem solid var(--ims-blue);
}

/*-------------------------ICONS------------------------*/
.icon-big{
  color:var(--ims-orange);
  font-size: 150%;
  display: block;
  padding: .2rem 0;
}


/*------------------------------------------------------*/
                  /*SECTIONS SERVICES*/
/*------------------------------------------------------*/
section{
  padding:2rem 1rem; 
  /* border: 2px solid var(--mild-gray); */
}
.grid-container-section{
  display: grid;
  grid-template:.15fr 1fr/1fr;
  height: 100%;
  
}
.section-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title .long-copy{
  margin-bottom: 1rem;
}
.section-title h2,
.section-grid-boxes h3{
  color:var(--ims-blue);
  
}

.section-grid-boxes{
  display: grid;
  grid-template: 1fr 1fr/repeat(3,1fr);
  gap: .5em;
}

.col{
  padding: 1rem;
}

.col h3{
  margin-bottom: .4rem;
  font-size: 110%;
}

.col p{
  font-size: 90%;
  line-height: 145%;
}
.section-grid-boxes .col:hover{
  
  transform: scale(1.03);
  transition: transform .5s;
  /* border-radius:.5rem; */
  background: #f3f1f170;
  box-shadow:  4px 4px 10px #d4d4d470,
              -4px -4px 10px #ffffff;

}

a.btn-link {
  font-size: 14px;
  font-weight: 800;
  color: var(--ims-blue);
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: -.14px;
}


/*------------------------------------------------------*/
                  /*SECTIONS ABOUT AND CONTACT*/
/*------------------------------------------------------*/
.section-about{
  background:  rgb(244, 244, 244);
}
.team-grid-box{
  display: grid;
  grid-template:1fr/repeat(4,1fr);
  margin: 1rem 0;
  
}

.team-card{
  /* border:1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card:hover{
  box-shadow:  4px 4px 10px #d4d4d470,
  -4px -4px 10px #ffffff;
}

.team-card .team-img{
  width: 80%;
  height: auto;
  margin-bottom: .5rem;
}
.member-profile{
  margin-bottom: .1rem;
  color: var(--ims-blue);
  font-size: 80%;
  display: flex;
  align-items: center;
}
.icon-sm{
  color: var(--ims-orange);
  padding: 2px;
  margin-right: 2px;
}


/*-----------------------------------------------------*/
.contact-row{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.contact-card{
  background: var(--ims-blue);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30%;
  padding:1rem 2rem;
  text-decoration: none;
  height: 100%;
  font-weight: 400;
}
.contact-card:hover{
  background: var(--ims-orange);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 30%;
  padding:1rem 2rem;
  text-decoration: none;
  height: 100%;
  font-weight: 400;
}

.center-dot{
      margin: 0;
      padding: 10px;
      background-color: #fff;
      border-style: solid;
      border-width: 5px;
      border-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 0px 1px 1px #003478 inset;
      font-weight: bold;
      color: var(--ims-orange);
}
/*===============================================*/
.partners-row{
  display: flex;
  justify-content: center;
} 
.partners-list{
  display: grid;
  grid-template: 1fr/repeat(11,1fr);
}
.partners-row li{
  list-style-type: none;
  width: 4rem;
  padding: .2rem;
}

.partners-row li img{
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 60%;
  height: auto;
  transform: scale(1.4);
}

.partners-row li img:hover{
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
  transform: scale(1.8
  );
  transition: transform .1s;
}



/*---------------------------------------------*/

footer{
  background-color: var(--ims-blue);
  padding: 3rem 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#f3f1f170;
  height: 100%;
}

.footer-head{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-nav ,
.social-links{
  list-style-type: none;
  display: flex; 
  margin-bottom: 1.5rem; 
}

footer a{
  color:#f3f1f170;
  text-decoration: none;
  margin: .5rem;
}

footer a:hover{
  color: var(--ims-orange);
}
.copy-right p:first-child{
  margin-top: 0.8rem;;
}
.copy-right p{
  text-align: center;
 
}





/* MOBILE VIEW STYLING */

@media only screen and (max-width: 600px) {
  body, html{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  .container{
    width: 100%;
    max-width: var(--breakpoint-sm);
    margin: 0 auto;
  }
  header{
    max-height: 100vh;
    max-width: var(--breakpoint-sm);
  }
  .header-nav{
    display: none;
  }
  .ims-blue-logo{
    display: inline;
  }
  .section-grid-boxes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }
  .team-grid-box {
    display: grid;
    grid-template: 1fr/repeat(2, 1fr);
    margin: 1rem 0;
  }
  .contact-row {
    display: grid;
    grid-template: repeat(1, 1fr);
    margin: 1rem 0;
  }
  .contact-card{
    background: var(--ims-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30%;
    padding:1rem 1rem;
    text-decoration: none;
    height: 100%;
    font-weight: 400;
  }
  .contact-card .center-dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;

  } 
}