/*--Big tablets to 1200px (widths smaller than 1148px) --*/
@media only screen and (max-width: 1148px) {
  * {
    font-size: 98%;
  }
}

/*--Small tablets to bit tablets: from 767px to 1020px--*/
@media only screen and (max-width: 1020px) {
  .section-grid-boxes {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 0.5em;
  }

  .team-grid-box {
    margin: 1rem auto;
  }

  .mobile-nav #closebtn {
    font-size: 2rem;
    margin-left: 50%;
  }
}

/*--Small phone to tablets: from 481px to 805px--*/
@media only screen and (max-width: 805px) {
  .sidenav {
    grid-template: 1fr/1fr 30%;
  }
  .quick-contact,
  nav .nav-links {
    display: none;
  }
  .section-grid-boxes {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 0.5em;
  }
  .footer-head {
    flex-direction: column;
    justify-content: center;
  }

  .footer-nav li {
    margin: 0.5rem auto;
  }

  .social-links {
    justify-content: center;
  }

  .motor-class-col {
    width: 100%;
  }
  .claims-management-copy .claims-pane {
    flex-direction: column;
  }
  .claims-management-copy .copy-col,
  .claims-management-copy .img-col {
    width: 100%;
  }
  .claims-management-copy .copy-col,
  .claims-management-copy .card {
    padding: 0;
  }
  .team-row .team-card {
    display: grid;
    grid-template: 1fr/40% 1fr;
  }
}

/*--Small phones: from 0 to 480px --*/
@media only screen and (max-width: 480px) {
  .sidenav {
    grid-template: 1fr/1fr 1fr;
  }
  h2 {
    font-size: 400;
  }
  h1 {
    font-size: 160%;
    font-weight: 400;
  }

  .hero-btn-box .btn {
    display: block;
    margin: 0.6rem auto;
  }

  .section-grid-boxes {
    grid-template: repeat(6, 1fr) / 1fr;
    gap: 0.5em;
  }
  .section-services .col {
    box-shadow: 2px 2px 6px #d4d4d470, -2px -2px 6px #ffffff;
  }

  .team-row .team-card {
    display: grid;
    grid-template: 1fr/ 1fr;
  }
  .contact-row {
    flex-direction: column;
  }

  .footer-head {
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
    justify-content: center;
  }

  .footer-nav li {
    margin: 0.5rem auto;
  }

  .social-links {
    justify-content: center;
  }
  .copy-right:first-child {
    font-size: small;
  }
  .contact-card {
    align-items: center;
  }
}
